body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

img {
  display: block;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.header {
  &__nav {
    display: flex;
    margin-top: 20px;
    margin-bottom: 100px;
  }
  &__title {
    font-weight: 600;
    font-size: 20px;
    font-weight: 700;
  }
  &__box {
    display: flex;
    gap: 20px;
    margin-left: auto;
    transition: all 0.3s;
  }
  &__burger {
    display: none;
    margin-left: auto;
    width: 30px;

    position: relative;
    z-index: 3;
  }
  &__link {
    color: black;
    font-size: 18px;
    font-weight: 400;
  }
}

.header__box.active {
  transition: all 0.3s;
  top: 0;
}

.hero {
  &__wrapper {
    display: flex;
    margin-bottom: 150px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  &__box {
    width: 50%;
  }
  &__box-title {
    font-size: 60px;
    font-weight: 700;
  }
  &__box-info {
    margin-top: 20px;
    font-size: 18px;
    line-height: 30px;
  }
  &__box-btn {
    margin-top: 30px;
    background: #8eadd5;
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
    font-size: 16px;
  }
  // &__img {
  // }
}

.socials {
  &__title {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #667085;
    margin-bottom: 20px;
  }
  &__wrapper {
    display: flex;
    background-color: #f6f6f6;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
  }
  // &__link {
  // }
  &__link-img {
    width: 100%;
  }
}

.branding {
  &__wrapper {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
  }
  // &__img {
  // }
  &__box {
    width: 50%;
  }
  &__box-title {
    font-size: 60px;
    font-weight: 700;
  }
  &__box-info {
    margin-top: 20px;
    font-size: 18px;
    line-height: 30px;
  }
  &__box-btn img {
    margin-top: 20px;
  }
}

.plugin {
  &__wrapper {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
  }
  &__box {
    width: 50%;
  }
  &__box-title {
    font-size: 60px;
    font-weight: 700;
  }
  &__box-info {
    margin-top: 20px;
    font-size: 18px;
    line-height: 30px;
  }
  &__box-btn img {
    margin-top: 20px;
  }
  // &__img {
  // }
}

.testimonials {
  &__subtitle {
    margin-top: 150px;
    margin-bottom: 10px;
    text-align: center;
  }
  &__title {
    font-size: 35px;
    font-weight: 600;
    width: 370px;
    text-align: center;
    margin: 0 auto 30px;
  }
  &__wrap {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
  }
  &__card {
    background-color: #f6f6f6;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &__img {
    display: block;
    align-items: center;
    margin: 0 auto;
  }
  &__name {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
  }
  &__text {
    display: flex;
    width: 281px;
    height: 77px;
    font-size: 14px;
    font-weight: 300;
    line-height: 15px;
  }
}

.team {
  &__wrapper {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 20px;
  }
  // &__img {
  // }
  &__box {
    width: 50%;
  }
  &__box-title {
    font-size: 48px;
    font-weight: 700;
  }
  &__box-info {
    margin-top: 20px;
    font-size: 18px;
    line-height: 30px;
  }
  &__box-btn {
    margin-top: 20px;
    background: #8eadd5;
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
    font-size: 16px;
  }
}

.footer {
  &__wrapper{
    background-color: #f6f6f6;
    margin-top: 100px;
    padding-top: 100px;
  }
  &__wrap {
    gap: 90px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 50px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 190px;
  }
  &__name {
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__link {
    color: black;
    line-height: 25px;
  }
  &__copyright {
    text-align: center;
    margin-top: 100px;
    padding-bottom: 20px;
  }
}

@media (max-width: 430px) {
  .container {
    padding: 0;
  }
  .hero__img,
  .plugin__img,
  .branding__img,
  .team__img {
    width: 100%;
  }
  .hero__box-title,
  .branding__box-title,
  .plugin__box-title,
  .team__box-title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 40px;
  }
  .hero__box-info,
  .branding__box-info,
  .plugin__box-info,
  .team__box-info {
    text-align: center;
    margin-bottom: 35px;
    font-size: 14px;
  }
  .hero__box-btn {
    display: block;
    margin: 0 auto 60px;
  }
  .branding__wrapper,
  .plugin__wrapper,
  .testimonials {
    justify-content: center;
    text-align: center;
  }
  .branding__box-btn img,
  .plugin__box-btn img {
    display: block;
    margin: 0 auto;
    transform: rotate(90deg);
  }
  .testimonials__wrap {
    gap: 40px;
  }
  .team,
  .team__box {
    display: block;
    margin: 0 auto;
  }
  .team__box-btn {
    display: block;
    margin: 0 auto 60px;
  }
}

@media (max-width: 550px) {
  .container {
    padding: 0;
  }
  .header__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: gray;
    color: white;

    position: absolute;
    width: 100%;
    height: 100vh;
    top: -150%;
    left: 0;
  }
  .header__burger {
    display: block;
  }
  .footer__wrap {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}

@media (max-width: 850px) {
  .container {
    text-align: center;
  }
  .branding__box-btn img,
  .plugin__box-btn img {
    display: block;
    margin: 20px auto 0;
    transform: rotate(90deg);
  }
  .socials__link-img {
    max-width: 80%;
  }
  .hero__img,
  .branding__img,
  .plugin__img,
  .team__img {
    width: 100%;
  }
  .hero__box,
  .branding__box,
  .plugin__box,
  .team__box {
    width: 100%;
  }
}
@media (min-width: 550px) and (max-width: 850px) {
  .footer__wrap {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media (max-width: 930px) {
  .hero__box-btn,
  .team__box-btn {
    margin-bottom: 20px;
  }
}
@media (min-width: 850px) and (max-width: 1000px) {
  .container {
    padding: 0 15px;
  }
  .branding__wrapper,
  .plugin__wrapper,
  .team__wrapper {
    gap: 0;
  }
}
